.create-post{
    max-width: 500px;
    margin: 10px auto;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 5px;
}

.main-div{
    border-top: 1px solid rgb(173, 173, 173) ;
}
.post-header{
    display: flex;
}


#post-btn{
    border: none;
    margin-top: 1px;
    padding: 1px;
    margin-left: -90px;
    padding-left: 90px;
    color: #339ce3;
    background:none;
    font-weight: bolder;
    cursor: pointer;
}

.details{
    border-top: 1px solid rgb(173, 173, 173) ;
}
#output{
    width: 300px;
    border: none;
    outline: none;
    margin-top: 5px;
}
